@media only screen and (min-width: 768px) {
    a {
        margin: 0 1.4vw;
    }

    .button:hover {
        background-color: #9561AA;
        color: white !important;
    }

    .notification {
        display: block;
        position: fixed;
        bottom: 3vh;
        left: 3vh;
    }
}

@media only screen and (max-width: 768px) {
    a {
        margin: 0 3.15vw;
    }

    .button:active {
        background-color: #9561AA;
        color: white !important;
    }

    .notification {
        width: 70vw;
        position: fixed;
        bottom: 2vh;
        left: 2vh;
    }
}

input, textarea {
    border-radius: 0.25rem;
}

.social-media {
    border-radius: 100%;
}

.help {
    font-size: 1rem;
}

.button {
    border-color: #9561AA;
    color: #9561AA;
}

.button:focus {
    box-shadow: none;
}

.button.submit {
    font-size: 1.15rem;
    border-color: #9561AA;
    color: #9561AA;
    padding: 0 1.75rem;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 1rem;
}

::-moz-placeholder { /* Firefox 19+ */
    font-size: 1rem;
}

:-ms-input-placeholder { /* IE 10+ */
    font-size: 1rem;
}

:-moz-placeholder { /* Firefox 18- */
    font-size: 1rem;
}