@media only screen and (min-width: 768px) {
    a {
        margin: 0 1.4rem;
    }
}

@media only screen and (max-width: 768px) {
    a {
        margin: 0 0.9rem;
    }
}

input, textarea {
    border-radius: 0.25rem;
}

.social-media {
    border-radius: 100%;
}

.help {
    font-size: 1rem;
}

.button {
    border-color: #5d99fa;
    color: #5d99fa;
}

.button.submit {
    font-size: 1.15rem;
    border-color: #5d99fa;
    color: #5d99fa;
}

.button:hover {
    background-color: #5d99fa;
    color: white;
}