<section class="section" style="background-color: #FBFBFB;">
  <div class="container">
    <h5 class="subtitle is-2">Contact</h5>
    <form (ngSubmit)="onSubmit(contactForm)"  #contactForm="ngForm">
      <div class="columns is-centered">
        <div class="column is-one-quarter">
          <div class="field">
            <label class="label">Name</label>
            <div class="control is-expanded">
              <input class="input is-medium" type="text" id="name"
              required
              name="name" 
              [(ngModel)]="newMessage.name" 
              #name="ngModel">
              <div *ngIf="name.invalid && (name.dirty || name.touched)">
                <div *ngIf="name.errors.required">
                  <p class="help is-danger">Name is required.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-one-quarter">
          <div class="field">
            <label class="label">Email</label>
            <div class="control is-expanded">
              <input class="input is-medium" type="email" id="email"
              required
              [pattern]="emailPattern"
              name="email"
              [(ngModel)]="newMessage.email"
              #email="ngModel">
              <div *ngIf="email.invalid && (email.dirty || email.touched)">
                <div *ngIf="email.errors && email.errors.pattern"> 		   
                  <p class="help is-danger">Email is not valid.</p>
                </div>
                <div *ngIf="email.errors.required">
                  <p class="help is-danger">Email is required.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column is-half">
          <div class="field">
            <label class="label">Mesasge</label>
            <div class="control is-expanded">
              <textarea class="textarea is-medium" rows="5"
              required
              name="message"
              [(ngModel)]="newMessage.message"
              #message="ngModel"></textarea>
              <div *ngIf="message.invalid && (message.dirty || message.touched)">
                <div *ngIf="message.errors.required">
                  <p class="help is-danger">Message is required.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns is-centered is-mobile" style="margin-top: 1.5rem;">
        <div class="column is-narrow">
          <button class="button is-primary is-rounded is-medium" [disabled]="!contactForm.form.valid" style="padding: 0 3rem;"><span>Submit</span></button>
        </div>
      </div>
    </form>
    <div class="columns is-centered is-mobile" style="margin-top: 3.5rem; margin-bottom: 1.75rem;">
      <div class="column is-narrow">
        <p class="column-heading">My Social Media</p>
      </div>
    </div>
    <div class="columns is-centered is-mobile">
      <div class="column is-narrow">
        <a class="button is-large social-media" href="https://twitter.com/rizvi_asheer" target="_blank">
          <span class="icon is-small">
            <svg class="fab fa-twitter"></svg>
          </span>
        </a>
        <a class="button is-large social-media" href="https://github.com/asheerrizvi" target="_blank">
          <span class="icon is-small">
            <i class="fab fa-github"></i>
          </span>
        </a>
        <a class="button is-large social-media" href="https://www.facebook.com/rizvi.asheer" target="_blank">
          <span class="icon is-small">
            <i class="fab fa-facebook-f"></i>
          </span>
        </a>
        <a class="button is-large social-media" href="mailto:asheer.vil@gmail.com">
          <span class="icon is-small">
            <i class="fas fa-envelope"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>