.subtitle.is-2 {
    text-decoration: underline;
    text-decoration-color: rgb(178, 123, 255);
    margin-bottom: 3rem;
}

.column-heading {
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
}

.column-heading.heading-margin {
    margin-top: 1rem;
}

.item-padding {
    padding-top: 0.5rem;
}

input, textarea {
    border-radius: 0.6rem;
}

button {
    display: block;
    margin: 0 auto;
    padding: 0 3rem !important;
}

.text-input.error {
    background: rgb(255, 135, 135);
}