<section class="section" style="background-color: #FBFBFB"
  data-aos-duration="1200"
  data-aos-delay="300"
  data-aos="fade-up"
  data-aos-once="true"
  data-aos-offset="200"
>
  <div class="container">
    <h3 class="subtitle is-2">Contact</h3>
    <h5 class="subtitle is-4">If you want to get in touch.</h5>
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
      <div class="columns is-centered">
        <div class="column is-one-quarter">
          <div class="field">
            <div class="control is-expanded">
              <label>Name
                <input class="input is-medium" type="text" id="name"
                  required
                  name="name" 
                  [(ngModel)]="newMessage.name" 
                  #name="ngModel"
                  placeholder="Name"
                >
              </label>
              <div *ngIf="name.invalid && (name.dirty || name.touched)">
                <div *ngIf="name.errors.required">
                  <p class="help is-danger">Name is required.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-one-quarter">
          <div class="field">
            <div class="control is-expanded">
              <label>Email
                <input class="input is-medium" type="email" id="email"
                  required
                  [pattern]="emailPattern"
                  name="email"
                  [(ngModel)]="newMessage.email"
                  #email="ngModel"
                  placeholder="Email"
                >
              </label>
              <div *ngIf="email.invalid && (email.dirty || email.touched)">
                <div *ngIf="email.errors && email.errors.pattern"> 		   
                  <p class="help is-danger">Email is not valid.</p>
                </div>
                <div *ngIf="email.errors.required">
                  <p class="help is-danger">Email is required.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column is-half">
          <div class="field">
            <div class="control is-expanded">
              <label>Message
                <textarea class="textarea is-medium" rows="5"
                  required
                  name="message"
                  [(ngModel)]="newMessage.message"
                  #message="ngModel"
                  placeholder="Your Message"
                ></textarea>
              </label>
              <div *ngIf="message.invalid && (message.dirty || message.touched)">
                <div *ngIf="message.errors.required">
                  <p class="help is-danger">Message is required.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns is-centered is-mobile" style="margin-top: 1.5rem; margin-bottom: 3rem;">
        <div class="column is-narrow">
          <button class="button is-rounded submit" [disabled]="!contactForm.form.valid"><span>Submit</span></button>
        </div>
      </div>
    </form>

    <div class="columns is-centered is-mobile">
      <div class="column is-narrow">
        <a class="button is-large social-media" href="https://twitter.com/rizvi_asheer" aria-label="Twitter" target="_blank" rel="noreferrer">
          <span class="icon is-small">
            <fa-icon [icon]="faTwitter"></fa-icon>
          </span>
        </a>
        <a class="button is-large social-media" href="https://github.com/asheerrizvi" aria-label="Github" target="_blank" rel="noreferrer">
          <span class="icon is-small">
            <fa-icon [icon]="faGithub"></fa-icon>
          </span>
        </a>
        <a class="button is-large social-media" href="https://in.linkedin.com/in/asheer-rizvi" aria-label="Linked In" target="_blank" rel="noreferrer">
          <span class="icon is-small">
            <fa-icon [icon]="faLinkedinIn"></fa-icon>
          </span>
        </a>
        <a class="button is-large social-media" href="mailto:asheer.vil@gmail.com" aria-label="Email">
          <span class="icon is-small">
            <fa-icon [icon]="faEnvelope"></fa-icon>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>

<div class="notification is-primary" [@messageState]="state">
  <button class="delete" (click)="closeNotification()"></button>
  Thank you, let me get back to you. 🙂
</div>