.subtitle.is-2 {
    text-decoration: underline;
    text-decoration-color: rgb(65, 178, 248);
    margin-bottom: 3rem;
}

.column-heading {
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
}

.column-heading.heading-margin {
    margin-top: 1rem;
}

.item-padding {
    padding-top: 0.5rem;
}