<section class="section">
    <div class="container">
        <h3 class="subtitle is-2">About</h3>
        <h5 class="subtitle is-4">Know me a bit better.</h5>
        <div class="columns">
            <div class="column is-half">
                <p class="column-heading">My Profile</p>
                <p style="margin-top: 1rem; padding-bottom: 1rem;">Hi, my name is Asheer Rizvi. I am a web developer who stumbled upon blockchain and is now trying to integrate the two to create something cool. I also have a thing for clean and minimilistic designs. Also, in ❤️ with mechanical keyboards.
                </p>
                <ul class="about-list" style="margin-top: 1rem;">
                    <li>
                        <strong>Name:</strong><br>
                        <span>Asheer Rizvi</span>
                    </li>
                    <li class="item-padding">
                        <strong>Date of Birth:</strong><br>
                        <span>15th of December 1993</span>
                    </li>
                    <li class="item-padding">
                        <strong>Current Location:</strong><br>
                        <span>Lucknow, India</span>
                    </li>
                </ul>
            </div>
            <div class="column is-half">
                <p class="column-heading">Education</p>
                <div class="content sub-column">
                    <ul style="list-style: none; margin-left: 0;">
                        <li><strong>College:</strong>&nbsp;Amity University<br/>
                            <p>Bachelor in Technology - Computer Science & Engineering (2013 - 2017)</p>
                        </li>
                        <li class="item-padding"><strong>Schooling:</strong>&nbsp;Cathedral School<br/>
                            <p>Highschool & Intermediate  (2010 - 2012)</p>
                        </li>
                    </ul>
                </div>
                <p class="column-heading">Other Interests</p>
                <div class="content">
                <ul style="margin-left: 1.25rem !important;">
                    <li>Reading</li>
                    <li>E-Sports</li>
                    <li>Building Computers</li>
                    <li>MotoGP</li>
                    <li>Movies</li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</section>