@media only screen and (min-width: 768px) {
    .section {
        height: 100%;
        min-height: calc(100vh - 8em);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .greeting {
        font-size: 3rem;
        margin-bottom: 2% !important;
        font-weight: 600;
    }

    .primary-skills {
        font-size: 1.35rem;
    }
}

@media only screen and (max-width: 768px) {
    .greeting {
        font-size: 2rem;
        margin-bottom: 4% !important;
        font-weight: 600;
    }

    .primary-skills {
        font-size: 1.25rem;
        margin-bottom: 1.5rem;
    }

    .button {
        display: block;
        margin: 3rem auto 3rem auto !important;
        font-size: 1.15rem;
        border-color: #5d99fa;
        color: #5d99fa;
    }  
}

.button {
    margin-top: 1.5rem;
    font-size: 1.15rem;
    border-color: #5d99fa;
    color: #5d99fa;
}  

.button:hover {
    background-color: #5d99fa;
    color: white;
}