@media only screen and (min-width: 768px) {
    .section {
        height: 100%;
        min-height: calc(100vh - 8em);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .greeting {
        font-size: 3rem;
        margin-bottom: 2% !important;
    }

    .primary-skills {
        font-size: 1.35rem;
    }

    .button {
        margin-top: 1.5rem;
        font-size: 1.15rem;
        border-color: #9561AA;
        color: #9561AA;
    }

    .button:hover {
        background-color: #9561AA;
        color: white;
    }
}

@media only screen and (max-width: 768px) {
    .greeting {
        font-size: 2rem;
        margin-bottom: 4% !important;
    }

    .primary-skills {
        font-size: 1.25rem;
        margin-bottom: 1.5rem;
    }

    .button {
        display: block;
        margin: 3rem auto !important;
        -webkit-tap-highlight-color: transparent;
        border-color: #9561AA;
        color: #9561AA;
    }

    .button:active {
        background-color: #9561AA;
        color: white;
    }
}

.button:focus {
    box-shadow: none;
}


