<section class="section">
  <div class="container is-fluid">
    <div class="columns is-vcentered">
      <div class="column is-1"></div>
      <div class="column is-4">
        <div class="content">
          <p class="greeting">Hey, I am Asheer Rizvi.</p>
          <p class="primary-skills">A CHFA, Ethereum DApp and a Web developer.</p>
          <button class="button is-primary is-rounded is-medium"><span>Message Me! <span role="img" aria-label="emoji">😄</span></span></button>
        </div>
      </div>
      <div class="column is-1"></div>
      <div class="column is-5">
        <img src="../../../assets/greeting-art.png">
      </div>
      <div class="column is-1"></div>
    </div>
  </div>
</section>