<section class="section"
  data-aos-duration="1200"
  data-aos-delay="300"
  data-aos="fade" 
  data-aos-once="true"
>
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-half">
        <div class="content">
          <p class="greeting">Hey, I am Asheer Rizvi.</p>
          <p class="primary-skills">A CHFA, Ethereum DApp and a Web developer</p>
          <button class="button is-rounded" (click)="downloadResume()">Get Resume</button>
        </div>
      </div>
      <div class="column is-half">
        <img src="../../../assets/greeting-art.png">
      </div>
    </div>
  </div>
</section>