<section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-half">
        <div class="content">
          <p class="greeting" style="font-weight: 600;">Hey, I am Asheer Rizvi.</p>
          <p class="primary-skills">Full Stack Developer, trying to make stuff happen with Blockchain.</p>
          <button class="button is-rounded" (click)="downloadResume()" style="font-size: 1.15rem;">Get Resume</button>
        </div>
      </div>
      <div class="column is-half">
        <img src="../../../assets/greeting_art.png" alt="Cover image for the home component">
      </div>
    </div>
  </div>
</section>