<section class="section" style="background-color: #FBFBFB;"
  data-aos-duration="1200"
  data-aos-delay="300"
  data-aos="fade-up" 
  data-aos-once="true"
  data-aos-offset="200"
>
  <div class="container">
    <h3 class="subtitle is-2">My Work</h3>
    <h5 class="subtitle is-4">Personal projects & work.</h5>
    <div class="columns is-multiline">
      <div class="column is-one-third" *ngFor="let repository of repositories">
        <div class="card">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="{{repository?.img}}" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-5">{{repository?.heading}}</p>
                <p class="subtitle is-6 ">{{repository?.tech.join(', ')}}</p>
              </div>
            </div>
        
            <div class="content">
              {{repository?.description}}
            </div>
            <a href="{{repository?.link}}" target="_blank">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
