@media only screen and (min-width: 768px) {
  span.navbar-item {
    font-size: 1.15rem;
    margin-left: 2rem;
  }

  [class*="item-hover-"]:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    transition: 0.4s;
  }

  [class*="item-hover-"]:hover:after {
    width: 100%;
  }

  .item-hover-home:after {
    border-bottom: 3px solid #ff6166;
  }

  .item-hover-skills:after {
    border-bottom: 3px solid #ffd000;
  }

  .item-hover-repos:after {
    border-bottom: 3px solid #33ff00;
  }

  .item-hover-about:after {
    border-bottom: 3px solid #41b2f8;
  }

  .item-hover-contact:after {
    border-bottom: 3px solid #b27bff;
  }

  span.mobile {
    display: none;
  }

  .button {
    border-color: #9561AA;
    position:fixed;
    bottom:3vh;
    right:3vh;
    box-shadow: 5px 5px 10px rgba(14, 14, 14, 0.2);
  }

  .button:hover {
    background-color: #9561AA;
    color: white;
  }
}

@media only screen and (max-width: 768px) {
  .section {
    padding: 2rem 0.75rem 1rem 0.75rem;
  }

  .button {
    border-color: #9561AA;
    position:fixed;
    bottom:2vh;
    right:2vh;
    box-shadow: 5px 5px 10px rgba(14, 14, 14, 0.2);
  }

  .button:hover {
    background-color: white;
    color: #9561AA;
  }

  .button:active {
    background-color: #9561AA;
    color: white;
  }

  .navbar-burger.burger {
    margin-top: auto;
    margin-bottom: auto;
    color: #9561AA;
    background: transparent;
  }

  .navbar-burger.burger.is-active {
    color: #9561AA;
    background: transparent;
  }

  span.mobile {
    margin-right: 0.45rem !important;
  }
}

.navbar.is-transparent {
  background-color: transparent;
  background-image: none;
}

.footer {
  padding: 3rem 1.5rem;
  background-color: white;
}

hr {
  margin: 1.5rem 0;
}

span {
  cursor: pointer;
}

.scroll-to-top {
  opacity: 0;
}

.show-scroll {
  opacity: 1;
}

.navbar.is-transparent .navbar-brand .navbar-item img{
  max-width: 2.75rem;
  max-height: 2.75rem;
}

a {
  color: #9561AA;
}

a:hover {
  color: #4A4A4A;
}
