<section class="section">
    <div class="container">
        <nav class="navbar is-transparent">
            <div class="navbar-brand">
                <a class="navbar-item" href="#">
                    <img src="https://bulma.io/images/bulma-logo.png" alt="Hey There! I am Asheer" width="112" height="28">
                </a>

                <a role="button" class="navbar-burger burger" (click)="toggleNavbar()" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" #navBurger>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarExampleTransparentExample" class="navbar-menu" #navMenu>
                <div class="navbar-end">
                    <span class="navbar-item item-hover-home" (click)="scrollToElement(homeTarget)">
                        Home
                    </span>

                    <span class="navbar-item item-hover-skills" (click)="scrollToElement(skillsTarget)">
                        Skills
                    </span>

                    <span class="navbar-item item-hover-repos" (click)="scrollToElement(workTarget)">
                        My Work
                    </span>

                    <span class="navbar-item item-hover-about" (click)="scrollToElement(aboutTarget)">
                        About
                    </span>

                    <span class="navbar-item item-hover-contact" (click)="scrollToElement(contactTarget)">
                        Contact
                    </span>
                </div>
            </div>
        </nav>
    </div>
</section>
<div #homeTarget>
    <app-home></app-home>
</div>



<!-- Things to improve in future: 
    1. Implement closing of expanded burger navbar menu on mobile devices when a user touches the screen outside the expanded menu.
    2. The ScrollIntoView doesn't work on Safari iOS. Try finding a better solution. 
    3. Do something about the space between Miscellaneous and Certifications on a mobile device. 
-->

<!-- <div #homeTarget>
    <app-home></app-home>
</div> -->
<!-- <div class="container"><hr></div> -->
<div #skillsTarget>
    <app-skills></app-skills>
</div>
<div #experienceTarget>
    <app-experience></app-experience>
</div>
<div #workTarget>
    <app-work></app-work>
</div>
<div #aboutTarget>
    <app-about></app-about>
</div>
<div #contactTarget>
    <app-contact></app-contact>
</div>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            This website was crafted by <a href="https://jgthms.com">Asheer Rizvi</a><br>
            <a href="https://bulma.io" target="_blank">
                <img src="https://bulma.io/images/made-with-bulma--semiblack.png" alt="Made with Bulma" width="165" height="35" style="margin-top: 1.4rem;">
            </a><br>
            <a href="https://angular.io" target="_blank">
                <img src="../assets/angular.svg" alt="Made with Bulma" width="95" height="35" style="margin-bottom: 1.4rem;">
            </a><br>
            Source code on: <a href="https://github.com/asheerrizvi/asheerrizvi-angular" target="_blank">Github</a>
        </p>
    </div>
</footer>
