<nav class="navbar is-transparent is-fixed-top">
    <div class="navbar-brand">
        <a class="navbar-item" href="#">
            <img src="https://bulma.io/images/bulma-logo.png" alt="Hey There! I am Asheer" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger burger" (click)="toggleNavbar()" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" #navBurger>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu" #navMenu>
        <div class="navbar-end">
            <a class="navbar-item navbar-menu-item hover-effect" (click)="scrollToElement(homeTarget)">
                Home
            </a>

            <a class="navbar-item navbar-menu-item hover-effect" (click)="scrollToElement(skillsTarget)">
                Skills
            </a>

            <a class="navbar-item navbar-menu-item hover-effect" (click)="scrollToElement(reposTarget)">
                Repos
            </a>

            <a class="navbar-item navbar-menu-item hover-effect" (click)="scrollToElement(aboutTarget)">
                About
            </a>

            <a class="navbar-item navbar-menu-item hover-effect last-navbar-menu-item" (click)="scrollToElement(contactTarget)">
                Contact
            </a>
        </div>
    </div>
</nav>

<!-- Things to improve in future: 
    1. Implement closing of expanded burger navbar menu on mobile devices when a user touches the screen outside the expanded menu.
    2. The ScrollIntoView doesn't work on Safari iOS. Try finding a better solution. 
-->

<div #homeTarget>
    <app-home></app-home>
</div>

<div #skillsTarget>
    <app-skills></app-skills>
</div>

<div #reposTarget>
    <app-repos></app-repos>
</div>

<div #aboutTarget>
    <app-about></app-about>
</div>

<div #contactTarget>
    <app-contact></app-contact>
</div>
