<section class="section" #topTarget>
    <div class="container">
        <nav class="navbar is-transparent">
            <div class="navbar-brand">
                <a class="navbar-item" href="#">
                    <img src="../assets/logo.svg" alt="Asheer Rizvi | Full Stack Developer" width="112" height="28">
                </a>

                <a role="button" class="navbar-burger burger" (click)="toggleNavbar()" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" #navBurger>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarExampleTransparentExample" class="navbar-menu" #navMenu>
                <div class="navbar-end">
                    <span class="navbar-item item-hover-home" (click)="scrollToElement(homeTarget)">
                        <span class="icon is-small mobile" style="color: #ff6166;">
                            <fa-icon [icon]="faHome"></fa-icon>
                        </span>
                        Home
                    </span>

                    <span class="navbar-item item-hover-skills" (click)="scrollToElement(skillsTarget)">
                        <span class="icon is-small mobile" style="color: #ffd000;">
                            <fa-icon [icon]="faPencilRuler"></fa-icon>
                        </span>
                        Skills
                    </span>

                    <span class="navbar-item item-hover-repos" (click)="scrollToElement(workTarget)">
                        <span class="icon is-small mobile" style="color:#33ff00;">
                            <fa-icon [icon]="faLaptopCode"></fa-icon>
                        </span>
                        Work
                    </span>

                    <span class="navbar-item item-hover-about" (click)="scrollToElement(aboutTarget)">
                        <span class="icon is-small mobile" style="color:#41b2f8;">
                            <fa-icon [icon]="faUser"></fa-icon>
                        </span>
                        About
                    </span>

                    <span class="navbar-item item-hover-contact" (click)="scrollToElement(contactTarget)">
                        <span class="icon is-small mobile" style="color:#b27bff;">
                            <fa-icon [icon]="faComment"></fa-icon>
                        </span>
                        Contact
                    </span>
                </div>
            </div>
        </nav>
    </div>
</section>
<div #homeTarget>
    <app-home></app-home>
</div>

<div #skillsTarget>
    <app-skills></app-skills>
</div>
<div #experienceTarget>
    <app-experience></app-experience>
</div>
<div #workTarget>
    <app-work></app-work>
</div>
<div #aboutTarget>
    <app-about></app-about>
</div>
<div #contactTarget>
    <app-contact></app-contact>
</div>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            This website was crafted by <a href="https://asheerrizvi.com">Asheer Rizvi</a><br>
            <a href="https://bulma.io" target="_blank" rel="noreferrer">
                <img src="../assets/made-with-bulma.png" alt="Made with Bulma" width="165" height="35" style="margin-top: 1.4rem;">
            </a><br>
            <a href="https://angular.io" target="_blank" rel="noreferrer">
                <img src="../assets/angular.svg" alt="Made with Bulma" width="95" height="35" style="margin-bottom: 1.4rem;">
            </a><br>
            Source code on: <a href="https://github.com/asheerrizvi/asheerrizvi-angular" target="_blank" rel="noreferrer">Github</a>
        </p>
    </div>
</footer>

<a class="button is-large scroll-to-top"
    [ngClass]="{'show-scroll': showScroll}"
    (click)="scrollToElement(topTarget)"
    data-aos-duration="600"
    data-aos-delay="200"
    data-aos="zoom-in-left"
    data-aos-once="false"
    data-aos-offset="300"
>
    <span class="icon is-small">
        <fa-icon [icon]="faArrowUp"></fa-icon>
    </span>
</a>
