<section class="section" style="background-color: #FBFBFB">
  <div class="container"
    data-sal="slide-up"
    data-sal-duration="1200"
    data-sal-delay="300"
    data-sal-easing="ease-out-bounce">
    <h3 class="subtitle is-2">Skills</h3>
    <h5 class="subtitle is-4">Things that I am good at.</h5>
    <div class="columns">
      <div class="column is-half">
        <p class="column-heading">Primary Languages</p>
        <div class="column sub-column">
          <span class="tag is-light margin">Java</span>
          <span class="tag is-light margin">Python</span>
          <span class="tag is-light margin">C++</span>
        </div>
        <p class="column-heading heading-margin">Blockchain</p>
        <div class="column sub-column">
          <span class="tag is-light margin">Hyperledger Fabric</span>
          <span class="tag is-light margin">Ethereum</span>
        </div>
        <p class="column-heading heading-margin">Web Development</p>
        <div class="column is-two-thirds sub-column">
          <span class="tag is-light margin">Angular</span>
          <span class="tag is-light margin">Node JS</span>
          <span class="tag is-light margin">Express JS</span>
          <span class="tag is-light margin">Mongo DB</span>
          <span class="tag is-light margin">HTML5</span>
          <span class="tag is-light margin">CSS3</span>
          <span class="tag is-light margin">Bulma</span>
          <span class="tag is-light margin">Clarity UI</span>
          <span class="tag is-light margin">Bootstrap</span>
          <span class="tag is-light margin">Wordpress</span>
        </div>
        <p class="column-heading heading-margin">Miscellaneous</p>
        <div class="column sub-column">
          <span class="tag is-light margin">Git & Bitbucket</span>
          <span class="tag is-light margin">Heroku</span>
        </div>
      </div>
      <div class="column is-half">
        <p class="column-heading">Certifications</p>
        <div class="content sub-column">
          <ul style="list-style: none; margin-left: 0;">
            <li><p class="sub-heading">Blockchain:</p> A four course specialization on Blockchain, Smart Contracts, DApps and Blockchain Platforms offered by University of Buffalo, New York through Coursera.</li>
            <li class="item-padding"><p class="sub-heading">Java:</p> A five course specialization on OOP offered by UCSD, San Diego through Coursera.</li>
            <li class="item-padding"><p class="sub-heading">Python:</p> A five course specialization on introductory Python offered by University of Michigan and four courses on interactive Python programming and Principles of Computing offered by Rice University through Coursera.</li>
            <li class="item-padding"><p class="sub-heading">Web Development:</p> Courses in HTML, CSS, JavaScript, Bootstrap, Angular and Ionic Framework offered by the Hong Kong Univeristy of Science & Technology through Coursera.</li>
            <li class="item-padding"><p class="sub-heading">Others:</p> Introductory courses in RoR and Unity3D offered by John Hopkins University and Michigan State University respectively through Coursera.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>