.subtitle.is-2 {
    text-decoration: underline;
    text-decoration-color: rgb(255, 208, 0);
    margin-bottom: 3rem;
}

.column-heading {
    font-size: 24px;
}

.column-heading.heading-margin {
    margin-top: 0.75rem;
}

.tag.is-light {
    text-transform: uppercase;
    font-size: 12px;
}

.tag.is-light.margin {
    margin: 0.5rem 0.5rem 0 0;
}

.column.sub-column{
    padding: 0.4rem 0.75rem 0.75rem 0;
}

li {
    padding-top: 0.5rem;
}

@media only screen and (max-width: 768px) {
    .column-heading {
        font-size: 24px;
        padding-top: 1.8rem;
    }
}