.column-heading.heading-margin {
    margin-top: 0.75rem;
}

.tag.is-light {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.1rem;
}

.tag.is-light.margin {
    margin: 0.5rem 0.5rem 0 0;
}

.column.sub-column{
    padding: 0.4rem 0.75rem 0.75rem 0;
}
