/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Lato', sans-serif !important;
}

.column-heading {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    word-spacing: 0.2rem;
}

.item-padding {
    padding-top: 0.5rem;
}