/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Montserret', sans-serif !important;
}

.column-heading {
    font-size: 0.95rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    word-spacing: 0.2rem;
}

.item-padding {
    padding-top: 0.5rem;
}

.subtitle.is-2 {
    font-size: 1.2rem !important;
    font-weight: 700;
    letter-spacing: 0.35rem !important;
    margin-bottom: 1.35rem !important;
    text-transform: uppercase;
    text-align: center;
}

.subtitle.is-4 {
    font-size: 1.35rem !important;
    font-family: 'Merriweather', serif !important;
    letter-spacing: 0.25rem !important;
    margin-bottom: 3rem !important;
    text-align: center;
}