.green {
    background-color: #37e473 !important;
    border-color: #37e473 !important;
}

.red {
    background-color: #ff4f4f !important;
    border-color: #ff4f4f !important;
}

p {
    font-size: 1rem;
}

p.heading {
    font-size: 0.85rem;
}

a {
    color: #9561AA;
}
  
a:hover {
    color: #4A4A4A;
}