<section class="section">
  <div class="container">
    <h3 class="subtitle is-2">Work Experience</h3>
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="timeline is-centered">
          <div class="timeline-item item-1">
            <div class="timeline-marker green"></div>
            <div class="timeline-content">
              <p class="heading">May 2018 - Present</p>
              <p>Network Engineer at <a href="https://plusnarrative.com/" target="_blank">HCL Technologies</a></p>
            </div>
          </div>
          <div class="timeline-item item-2">
            <div class="timeline-marker red"></div>
            <div class="timeline-content">
              <p class="heading">August 2017 - April 2019</p>
              <p>Software Engineer at Wipro Technologies</p>
            </div>
          </div>
          <div class="timeline-item item-3">
            <div class="timeline-marker red"></div>
            <div class="timeline-content">
              <p class="heading">May 2013 - May 2017</p>
              <p>Graduated in CS from Amity Univeristy, Lucknow</p>
            </div>
          </div>
          <div class="timeline-item item-4">
            <div class="timeline-marker red"></div>
            <div class="timeline-content">
              <p class="heading">May 2016 - July 2016</p>
              <p>Front-End Developer at AirCountr</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>