.green {
    background-color: #37e473 !important;
    border-color: #37e473 !important;
}

.red {
    background-color: #ff4f4f !important;
    border-color: #ff4f4f !important;
}

@media only screen and (min-width: 768px) {
    p.heading {
        font-size: 0.85rem;
    }

    p {
        font-size: 1.1rem;
    }
}